@import './variable.scss'; 

header {
    padding-top: 24px;
    padding-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width:1200px){
        padding-top: 40px;
        padding-bottom: 28px;
        border-bottom: 1px solid rgba(151, 151, 151,0.1);
        margin-bottom: 24px;
      }

    .logo {
        color: $primary;
        font-weight: 900;
        font-size: 2.4rem;
        text-decoration: none;
        margin-bottom: 20px;
        margin-right: 43px;

        @media screen and (min-width:1200px){
          font-size: 3.2rem;
          margin-bottom: 0;
        }

        span {
            color: $dark;
        }

     
    }

    .mob-menu-btn{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 24px;
        background-color: transparent;
        padding: 0;
        margin-bottom: 24px;
        transition: all .5s ease-in-out;
        @media screen and (min-width:1200px){
            display: none;
          }
        &::before {
            content: "";
            width: 24px;
            height: 4px;
            background-color: $dark;
            border-radius: 1px; 
            position: absolute;
            top: 0;
            left: 0;
            transition: .5s;
            transform-origin: 23px 8px;
        }
        &::after {
            content: "";
            width: 24px;
            height: 4px;
            border-radius: 1px;
            background-color: $dark;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: .5s;
            transform-origin: 19px -2px;
        }
        span {
            display: inline-block;
            width: 24px;
            height: 4px;
            background-color: $dark;
            border-radius: 1px;
            transition: 0.4s;
        }
     
    }

    .open-menu &{
        justify-content: end;
        .logo {
            order: 2;
            flex-basis: 100%;
            text-align: center;
            margin-right: 0;
            margin-bottom: 64px;
        }
        .mob-menu-btn{
            order: 1;
            margin-bottom: 62px;
            &::before {
                transform: rotate(-45deg); 
            }
            &::after{
                transform: rotate(45deg);
            }
            span{
                width: 0;
            }
        }
    
    }
    
}